/*importing the font family from google font*/
@import url("https://fonts.googleapis.com/css2?family=Enriqueta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  color: white;
  font-family: "Enriqueta", sans-serif;
  font-size: 20px;
  margin: 0;
}

.brand-title {
  font-size: 1.5rem;
  margin-left: 55px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li a:hover {
  color: rgb(80, 80, 80);
  transition: 0.5s;
}

.navbar-links li:hover {
  color: rgb(80, 80, 80);
  transition: 0.5s;
  border-left: solid;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.enri {
  font-family: "Enriqueta", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

.home {
  font-size: 24px;
}

.aboutus {
  font-size: 17px;
}

.faq {
  font-size: 17px;
}

body h1 {
  font-weight: bold;
  text-align: center;
  font-size: 93px;
  color: #303030;
}

body h2 {
  font-size: 50px;
  color: #303030;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}

.signup-login {
  text-align: center;
}

.success {
  display: inline-block;
  margin: 15px;
  color: green;
}

.signup-error {
  display: inline-block;
  margin: 15px;
  color: red;
}

form .field {
  height: 30px;
  width: 50%;
  border: 3px;
  border: 1px solid #303030;
}

.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Flex property
  align flex items in different rows under single column*/
.d-flex-c {
  display: flex !important;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

/*Flex property
  align flex items in different columns within single row*/
.d-flex-r {
  display: flex !important;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}

/* Features Grid
  -------------------------------------------------------*/
.features-grid-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6rem;
}

/*reverse the position of image and text in the second row*/
.features-grid-row#second-row {
  flex-direction: row-reverse;
}

.home .features-grid-row-img img {
  height: 700px;
}

@media screen and (max-width: 768px) {
  .features-grid-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  body h1 {
    font-size: 60px;
  }

  body h2 {
    font-size: 30px;
  }
  .home {
    font-size: 17px;
  }

  .features-grid-row-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .features-grid-row.d-flex-r {
    flex-direction: column;
  }

  .features-grid-row#second-row {
    flex-direction: column;
  }

  .enri {
    margin: 0;
  }

  .button {
    width: 70%;
  }

  form .field {
    width: 90%;
  }

  .features-grid-row-img img {
    height: 700px;
  }
}

.container {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  padding: 0 !important;
}

footer {
  background-color: #303030;
  font-family: "Enriqueta", sans-serif;
}

.inner-footer {
  margin: 0;
  padding: 0;
}

.social-media {
  display: flex;
}

.social-media ul {
  padding: 10px;
  display: flex;
  height: 30px;
  margin: auto;
}

.social-icon {
  list-style: none;
}

.social-icon a {
  padding: 10px;
  font-size: 35px;
  color: #fff;
}

.social-icon a:hover {
  color: rgb(80, 80, 80);
  transition: 0.5s;
}

.quick-links {
  display: flex;
}

.quick-links ul {
  display: flex;
  margin: auto;
}

.quick-items {
  list-style: none;
}

.quick-items a {
  text-decoration: none;
  padding: 0px 15px;
  color: #fff;
}

.quick-items a:hover {
  color: rgb(80, 80, 80);
}

.outer-footer {
  margin: 30px;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.button {
  display: inline-block;
  border-style: none;
  background-color: #303030;
  color: #fff;
  height: 35px;
  margin: 15px;
  vertical-align: middle;
  cursor: pointer;
  width: 35%;
  border-radius: 3px;
}

.table-btn button {
  width: 90%;
}

.button:hover {
  color: rgb(80, 80, 80);
  transition: 0.5s;
}

.tab {
  margin-left: 1.5rem;
}

.text-container {
  padding-left: 15px;
  padding-right: 15px;
}
